<h1>PLAY FUCKING <%= @game ? link_to(@game.title.upcase, "http://boardgamegeek.com/boardgame/#{@game.id}") : 'NOTHING'%></h1>
<h2><%= link_to "FUCK THAT", :action => "find", :username => @gamepicker.username, :players => @gamepicker.players %></h2>