<div class="message">
    <p><%= t(:play_intro)%> <%= game_link(@game) %><p>
</div>
<div class="links">
    <p><%= link_to t(:find_link), :action => "find", :username => @gamepicker.username, :players => @gamepicker.players %></p>
    <p><%= link_to t(:index_link), :action => "index"%></p>
</div>