// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer {
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
}

body {
	font-weight:bold;
}

.message {
    font-size: 600%;
    line-height: 150%;
}

.links {
    font-size: 300%;
    line-height: 150%;
}